@{
    ViewBag.Title = "Home Page";
}

<div class="text-white text-center py-5 px-4" style="height: 60vh; display: flex; align-items: center; justify-content: center;">
    <div class="pt-5 pb-5">
        <h2 class="card-title h2 my-4 py-2">Animal Tinder</h2>
        <h4 class="mb-4 pb-2 px-md-5 mx-md-5">New way to find a perfect match for your animal!</h4>
        <a class="btn btn-default" href="/Account/Login">
            <!--<i class="fas fa-clone left"></i> -->
            Start now
        </a>
    </div>
</div>
