@{
    ViewBag.Title = "Home Page";
}

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg); height: 60vh">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4" style="height: 60vh; display: flex; align-items: center; justify-content: center;">
        <div class="pt-5 pb-5">
            <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i></h5>
            <h2 class="card-title h2 my-4 py-2">Animal Tinder</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
            <a class="btn peach-gradient" href="/Account/Login">
                <!--<i class="fas fa-clone left"></i> -->
                Start now
            </a>
        </div>
    </div>
</div>
<!-- Jumbotron -->
