@model IEnumerable<AnimalTinder.Models.Animal>

@{
    ViewBag.Title = "Carousel";
}


<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>
    <style>
        .carousel {
            margin: 0px;
            padding: 0px;
        }

        .animal-img {
            height: auto;
            width: 100vw;
            max-height: 100vh;
        }
    </style>


    <div id="carousel-example-2"
         class="carousel slide carousel-fade"
         data-ride="carousel"
         data-interval="false">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < Model.ToList().Count; i++)
            {
                var active = i == 0 ? "active" : "";
                <div class="item @active">
                    <div class="view">
                        <img class="d-block animal-img"
                             src=@Model.ToArray()[i].ImgURL
                             alt="First slide" />
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <a href="#carousel-example-2" role="button" data-slide="prev">
                            <button type="button"
                                    class="btn btn-outline-primary waves-effect">
                                Pass
                            </button>
                        </a>
                        <a href="#carousel-example-2" role="button" data-slide="next">
                            <button type="button" class="btn btn-danger">
                                <i class="fas fa-heart mr-1"></i>Love
                            </button>
                        </a>
                    </div>
                </div>
            }

        </div>
        <!--/.Slides-->
    </div>

</asp:Content>

